* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#shopp {
	width: 80%;
	margin: 0 auto;
}

.carro {
	min-height: 300px;
	width: 290px;
	background: rgb(128, 128, 128);
	background: linear-gradient(
		180deg,
		rgba(128, 128, 128, 1) 36%,
		rgba(222, 222, 222, 1) 100%
	);
	position: fixed;
	left: 10%;
	top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 20px 20px -2px rgba(128, 0, 128, 0.5);
	-moz-box-shadow: 0px 20px 20px -2px rgba(128, 0, 128, 0.5);
	box-shadow: 0px 20px 20px -2px rgba(128, 0, 128, 0.5);
}
.cantidad{
	width: 100%;
	min-height: 200px;
}
.sumaTotal {
	background: #800080;
	height: 50px;
	width: 100%;
	letter-spacing: 3px;
	font-weight: bold;
}
.carro h2 {
	padding: 5%;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 2em;
}

.carro p {
	padding: 5%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 1em;
}

.carro p li {
	padding-left: 5px;
	padding-right: 5px;
	height: 40px;
	text-align: center;
	width: 100%;
	list-style: none;
	font-size: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.carro p li button {
	height: 25px;
	width: 25px;
}

.carro p li:nth-child(2n) {
	background-color: whitesmoke;
}

.botonCompra {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.botonCompra button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 85px;
	border: solid black 1px;
	border-radius: 10px;
	text-transform: uppercase;
}

.botonCompra button:hover {
	transition: 0.5s ease-in-out;
	background: black;
	color: white;
}

.barraNavegacion {
	display: flex;
	justify-content: center;
	width: 100%;
}

.botones {
	height: 100px;
	width: 20%;
	margin: 0 auto;
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#buscadorBar {
	height: 50px;
	width: 100%;
	background: #800080;
	display: flex;
	align-items: center;
	justify-content: center;
}

#buscadorBar input:first-child {
	height: 30px;
	width: 50%;
	font-size: 1.3em;
}

#buscadorBar input:nth-child(2) {
	margin-left: 10px;
	height: 30px;
	width: 50px;
	font-size: 1.3em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navBarShopp {
	height: 100px;
	width: 80%;
	margin: 0 auto;
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#navBarShopp button,
.botones button {
	height: 50px;
	width: 110px;
	font-size: 1em;
	font-weight: bold;
}

#navBarShopp button:hover,
.botones button:hover {
	transition: 0.5s ease-in-out;
	letter-spacing: 1px;
	color: purple;
}

#listaShopp {
	height: auto;
	max-width: 50%;
	margin: 0 auto;
}

#listaShopp img {
	height: 200px;
	width: 200px;
	aspect-ratio: 1/1;
	object-position: center;
	border-radius: 10px 0px 0px 10px;
}

#listaShopp li {
	display: flex;
	height: 200px;
	margin-top: 40px;
	-webkit-box-shadow: 0px 20px 20px -2px rgba(128, 0, 128, 0.5);
	-moz-box-shadow: 0px 20px 20px -2px rgba(128, 0, 128, 0.5);
	box-shadow: 0px 20px 20px -2px rgba(128, 0, 128, 0.5);
	border-radius: 10px 10px 10px 10px;
}

#listaShopp li:nth-child(2n) {
	background-color: whitesmoke;
}

#listaShopp li:nth-child(2n-1) {
	background-color: #808080;
}

#listaShopp div {
	height: 200px;
	width: 100%;
}

#listaShopp h3 {
	padding-left: 10px;
	height: 35%;
	display: flex;
	align-items: center;
	letter-spacing: 5px;
}

#listaShopp p {
	height: 35%;
	padding: 20px;
	font-size: 1em;
	text-align: justify;
	display: flex;
	align-items: center;
}

#listaShopp div div {
	height: 30%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

#listaShopp button {
	height: 40px;
	width: 50px;
	border: 1px solid black;
	background: whitesmoke;
	border-radius: 10px;
}

.foot {
	height: 200px;
}
